@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #1e1e1e;
  color: #cccccc;
  font-family: 'Inter', system-ui, sans-serif;
}
